.navbar-outer {
  background-color: #1a1a18;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

nav p {
  margin: 0%;
}

nav h1 {
  margin: 0%;
  width: 10em;
  color: white;
}

.yellow-text-nav {
  color: #766526;
  font-size: 0.7em;
}

.yellow-box-nav {
  background-color: #c5a84f;
  width: max-content;
  padding: 0.2em;
  margin-top: 0.5em;
}
