body {
  margin: 0%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.body-task-con {
  display: flex;
}

.app-body-outer {
  background-color: aqua;
  width: 60vw;
  height: 100vh;
}
